In [2]:
import pandas as pd
import numpy as np
obj = pd.Series(["a", "b", "c", "d", "e"], index = [10,11,12,14,15])

obj

10    a
11    b
12    c
14    d
15    e
dtype: object

In [3]:
obj22 = pd.Series({"Id": 4001, "name": "hammad", "age": 15})

obj22

obj22.index

obj22.values

obj22.name = "Studentdata"

obj22.index.name = "S No."

obj22

obj22["Id"] = "400"

obj22

S No.
Id         400
name    hammad
age         15
Name: Studentdata, dtype: object

In [4]:
frame11 = pd.DataFrame({
    "day": [1,2,3,4,5],
    "tem": [20,21,22,25,24],
    "wind": [30,40,50,60,70],
    "rain": [True,True,False,True,False]
})

frame11

   day  tem  wind   rain
0    1   20    30   True
1    2   21    40   True
2    3   22    50  False
3    4   25    60   True
4    5   24    70  False

In [8]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12

   day  temp  wind   rain
0    1    20    50   True
1    2    50    20  False
2    3    40    50   True
3    4    30    50   True
4    5    10    20   True

In [6]:
frame13 = pd.DataFrame ([
    (1,33,25),
    (1,32,24),
    (1,31,27),
], columns = ["day", "tem", "wind"])

frame13

   day  tem  wind
0    1   33    25
1    1   32    24
2    1   31    27

In [ ]:
#from excel file s data frame bnate hai

frame14 = pd.read_excel("weater.xlsx")

frame14

In [ ]:
frame14 = pd.read_csv("weater.csv")

frame14

In [ ]:
#apnamdata excel bnana

frame11.to_excel("studentdata.xlxs", sheet_name = "sheet1")

frame11

In [13]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12[["day", "temp"]]

RangeIndex(start=0, stop=5, step=1)

In [14]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.head(3)

   day  temp  wind   rain
0    1    20    50   True
1    2    50    20  False
2    3    40    50   True

In [21]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.tail(2)

   day  temp  wind  rain
3    4    30    50  True
4    5    10    20  True

In [22]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.columns

Index(['day', 'temp', 'wind', 'rain'], dtype='object')

In [23]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12["temp"]

0    20
1    50
2    40
3    30
4    10
Name: temp, dtype: int64

In [25]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12["temp"].max()

50

In [26]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12["temp"].min()

10

In [27]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12["temp"].mean()

30.0

In [28]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.describe()

            day       temp       wind
count  5.000000   5.000000   5.000000
mean   3.000000  30.000000  38.000000
std    1.581139  15.811388  16.431677
min    1.000000  10.000000  20.000000
25%    2.000000  20.000000  20.000000
50%    3.000000  30.000000  50.000000
75%    4.000000  40.000000  50.000000
max    5.000000  50.000000  50.000000

In [29]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.loc[4]

day        5
temp      10
wind      20
rain    True
Name: 4, dtype: object

In [33]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12.T

         0      1     2     3     4
day      1      2     3     4     5
temp    20     50    40    30    10
wind    50     20    50    50    20
rain  True  False  True  True  True

In [37]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12[["temp","wind"]][frame12["rain"] == True]

   temp  wind
0    20    50
2    40    50
3    30    50
4    10    20

In [38]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12[frame12["temp"] > 21]

   day  temp  wind   rain
1    2    50    20  False
2    3    40    50   True
3    4    30    50   True

In [43]:
frame12 = pd.DataFrame ([
    {"day": 1, "temp": 20, "wind": 50, "rain": True},
    {"day": 2, "temp": 50, "wind": 20, "rain": False},
    {"day": 3, "temp": 40, "wind": 50, "rain": True},
    {"day": 4, "temp": 30, "wind": 50, "rain": True},
    {"day": 5, "temp": 10, "wind": 20, "rain": True},
])

frame12["temp"][frame12["rain"] == True]

0    20
2    40
3    30
4    10
Name: temp, dtype: int64